<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вопросы и Ответы</title>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Вопросник</h1>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Вопросник</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Новые</a></li>
              <li><a href="/popular/">Популярные</a></li>
              <li><a href="/ask/">Спросить</a></li>
            </ul>
          </div>
        </nav> 
    {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>