{% extends "qa/base.html" %}
{% block title %}
        {{ block.super }}
{% endblock  %}
{% block content %}
    <div class="questions">
    {% for question in questions %}
        <div class="question">
            <h3><a href="{{ question.get_url }}"> {{ question.title }} </a></h3>
            <div class="question-text">{{ question.text }}</div>
        </div>
    {% endfor %}
            <ul class="pagination">
                {% if questions.has_previous %}
                    <li><a href="?page={{ questions.previous_page_number }}"><<</a></li>
                {% endif %}
                {% for pg in question.paginator.page_range%}
                    {% if questions.number == pg %}
                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endif %}
                {% endfor %}
 
                {% if questions.has_next %}
                    <li><a href="?page={{ questions.next_page_number }}">>></a></li>
                {% endif %}
            </ul>

{% endblock %}