{% extends "qa/base.html" %}
{% block title %}
        {{ block.super }}
{% endblock  %}
{% block content %}
<div class="jumbotron">
    <div class="well">
  	  	<h3>{{ question.title }}</h3>      
  		<p>{{ question.text }}</p>
  	</div>
    <div class="container">
     {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
        <form class="form-horizontal" method="post" action="/question/{{ question.id }}/">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                <div class="row">
                    <div class="control-group
                        {% if field.errors %}has-error{% endif %}">
                        <div class="col-sm-6">
                            <label class="control-label">{{ field.label }}</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">{{ field }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    Отправить</button>
            </div>
        </form>
    </div>
    {% for answer in answers %}     
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Мне нравится</button>
                    </div>
                    <div class="col-sm-6">{{ answer.text }}</div>
            </div>
            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-1">Добавлено: {{answer.added_at}}</div>
                <div class="col-sm-1">Добавил: {{answer.author.username}}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}